.the-div-ul{
    position: fixed;
     top:40% ;
     right: 5px;
     z-index: 99999999999999999;
    }
    .the-div-ul ul{
        list-style: none;
    }
    .the-div-ul i{
        font-size:7px ;
    }
    /* the end ul */
    /* the start section-1 */
    .iteams{
        background-color: black;
        width: 100%;
        height: 100vh;
        
       
    }
    .the-div-img{
        width: 70%;
        height: 55%;
       animation-name:moveimg ;
       animation-duration: 3s;
       animation-iteration-count: infinite;
     
       
    }
    .the-div-img img{
        width: 100%;
    
    }
    

    @keyframes moveimg{
        0%{
            transform: translateY(2px);
        }
        10%{
            transform: translateY(7px);
        }
        20%{
            transform: translateY(10px);
        }
        50%{
            transform: translateY(15px)
        }
      
        60%{
            transform: translateY(10px);
        }
        80%{
            transform: translateY(5px);
        }
       
        100%{
            transform: translateY(1px);
        }


    }
    .caption{
        position: absolute;
        top: 10%;
        left: 20%;
    }
    .thetextsection1{
        color:white;
    }
    .section-1:hover .the-text{
        color:#c78f57;
    }
    .the-div-btton{
        position: absolute;
        bottom: 20%;
        left: 40%;

    }
    .the-div-btton a{
        border: 1px solid #c78f57;
        color: white;
        padding:5px 10px;
    }
    .the-div-btton:hover .the-link-section-1{
        background-color: #c78f57;
        color: white;
    }

    .section-1{
    position: relative;
       
        overflow: hidden;
    }

    .the-div-col{
        padding: 0;
    }
   .iteams-2{
       width: 100%;
       height: 100vh;
       background-color: #f4f4f4;
       position: relative;
   }
   .iteams-2-img{
       width: 70%;
       height: 50%;
       animation-name:moveimg ;
       animation-duration: 3s;
       animation-iteration-count: infinite;
     
       
       
   }
   
   .iteams-2-img img {
       width: 100%;
   }
   .the-text-2{
       position: absolute;
     top: 5%;
     left: 2%;
   }
   .the-text-3{
       position: absolute;
       top: 5%;
       right: 15%;
   }
.the-div-btton-2{
    position: absolute;
    bottom: 20%;
    left: 40%;
}
.the-div-btton-2 a{
    border: 1px solid #c78f57;
    color: black;
    padding:5px 10px;
}
.the-div-btton-2:hover .the-link-section-1{
    background-color: #c78f57;
    color: white;
}